@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
 
 body {
   font-family: 'Inter', sans-serif;
   margin: 0;
   padding: 0;
 }

 header {
   position: relative;
   text-align: center;
 }

img {
    width: 50%;
    margin: 0 auto;
    object-fit: cover;
}
.site-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
      
      nav ul {
        list-style: none;
        padding: 10px;
        display: flex;
        justify-content: center;
        background-color: #fff;
        margin: 10px;
      }
      
      nav ul li {
        margin: 0 15px;
      }
      
      nav ul li a {
        text-decoration: none;
        color: #000;
        padding: 15px 0;
        display: block;
      }
      
      main {
        text-align: center;
        width: 50%;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
      }
      
      .post-title {
        font-size: 2rem;
        margin: 20px 0;
      }
      
      
      footer {
        margin: 0 auto;
        text-align: center;
      }
      
       footer nav ul {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      address p {
        margin-top: 0;
      }
      
      footer address {
        margin-bottom: 0;

      }
       footer p.credit {
        font-size: 0.8rem;
        background-color: #333;
        color: #666;
        width: 50%;
        margin: 0 auto;
        height: 20px;
        padding-top: 3px 
      }  