@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}


.about-us {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.about-text {
    text-align:center;
}